<ul>
  <li>
    <mat-icon>home</mat-icon>
    <span routerLink="/home" routerLinkActive="activeOn">Home</span>
  </li>
  <li>
    <mat-icon>sports_volleyball</mat-icon>
    <span routerLink="/disciplines" routerLinkActive="activeOn">Disciplines</span>
  </li>
  <li>
    <mat-icon>directions_run</mat-icon>
    <span routerLink="/athletes" routerLinkActive="activeOn">Athletes</span>
  </li>
  <li>
    <mat-icon>emoji_events</mat-icon>
    <span routerLink="/medals" routerLinkActive="activeOn">Medals</span>
  </li>
</ul>
