<ul>
  <li>
    <mat-icon>home</mat-icon>
    <span routerLink="/home" routerLinkActive="activeOn">Start</span>
  </li>
  <li>
    <mat-icon>sports_volleyball</mat-icon>
    <span routerLink="/disciplines" routerLinkActive="activeOn">Disziplinen</span>
  </li>
  <li>
    <mat-icon>directions_run</mat-icon>
    <span routerLink="/competitor" routerLinkActive="activeOn">Teilnehmer</span>
  </li>
  <li>
    <mat-icon>emoji_events</mat-icon>
    <span routerLink="/medals" routerLinkActive="activeOn">Medallienspiegel</span>
  </li>
</ul>
