main {
  position: relative;
}

img {
  width: 20vw;
  height: 69vh;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  cursor: pointer;

  filter: brightness(50%);
  transition: .3s ease-in-out;

  &:hover {
    filter: brightness(100%);
    transform: translateY(-2.2em);
  }
}

h1 {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);

  width: 200px;

  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  font-size: 1.75em;
  z-index: -1;
}
