<nav class="toolbar">
    <span id="chip-male" (click)="toggleChipSex('male')">
      <mat-icon class="male">male</mat-icon>
    </span>
  <span id="chip-female" (click)="toggleChipSex('female')">
      <mat-icon class="female">female</mat-icon>
    </span>
</nav>
<nav class="toolbar discipline">
  <span id="chip-rennen" (click)="toggleChipDiscipline('rennen')">100m-Lauf</span>
  <span id="chip-schwimmen" (click)="toggleChipDiscipline('schwimmen')">Schwimmen</span>
  <span id="chip-springen" (click)="toggleChipDiscipline('springen')">Weitsprung</span>
  <span id="chip-pferd" (click)="toggleChipDiscipline('pferd')">Springreiten</span>
</nav>
