// make the svg only white

svg {
  fill: white;
  width: 200px;
  height: 200px;
}

circle {
  stroke: white;
}

.olympics > circle {
  animation: fadeIn .6s linear 1 both;

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      animation-delay: $i * 0.1s;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
