@import "../../../../mixins";

table {
  width: fit-content;
  margin: 1em auto;
}

th {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  mat-icon {
    padding: 0;
    margin-bottom: 1%;
  }
}
