.wrapper {
  background: linear-gradient(
      rgba(0, 0, 0, 0.92),
      rgba(0, 0, 0, 0.72)
  ), url("/assets/img/bg1.jpg");
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100dvh;
  position: relative;
}
