#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    animation: bump 2s ease-in-out infinite;
    cursor: pointer;
  }
}

@keyframes bump {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.05);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@mixin positioning($left) {
  position: absolute;
  margin: 0;
  top: 50%;
  left: $left;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 3em;
  @include positioning(22%);
}

div {
  @include positioning(78%);
}

.right-nav {
  width: 28vw;
}
