<ng-container *ngIf="data.length >= 1">
  <div class="carousel">
    <mat-icon (click)="changeIndex(-1)">chevron_left</mat-icon>
    <ng-container *ngIf="imagesShown === 3 && data[dataSelectedIndex-1] != undefined">
      <section [style]="'background-image: url(' + data[dataSelectedIndex-1].image + ')'">
        <h1>{{data[dataSelectedIndex-1].title}}</h1>
        <p>{{data[dataSelectedIndex-1].description}}</p>
      </section>
    </ng-container>
    <section [style]="'background-image: url(' + data[dataSelectedIndex].image + ')'">
      <h1>{{data[dataSelectedIndex].title}}</h1>
      <p>{{data[dataSelectedIndex].description}}</p>
    </section>
    <ng-container *ngIf="imagesShown === 3 && data[dataSelectedIndex+1] != undefined">
      <section [style]="'background-image: url(' + data[dataSelectedIndex+1].image + ')'">
        <h1>{{data[dataSelectedIndex+1].title}}</h1>
        <p>{{data[dataSelectedIndex+1].description}}</p>
      </section>
    </ng-container>
    <mat-icon (click)="changeIndex(1)">chevron_right</mat-icon>
  </div>
</ng-container>
