:root {
  --golden-color: #d7c378;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #333;
  color: #fff;
}

$link-color: #1ea7fd;

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: darken($link-color, 10%);
  }

  &:visited {
    color: $link-color
  }
}

mat-icon {
  vertical-align: middle;
  padding-right: 0.25em;
}

@font-face {
  font-family: 'OstFont';
  src:  url('/assets/fonts/Paris2024.woff2') format('woff2')
}

.ost-font {
  font-family: 'OstFont', serif;
}

img {
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input, button {
  font-size: 1em;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid var(--golden-color);
  background-color: transparent;
  color: #fff;
}

button {
  $golden-color: #d7c378;
  cursor: pointer;

  &:hover {

    background-color: $golden-color;
  }

  &:active {
    background-color: darken($golden-color, 10%);
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1em;
  color: #fff;
  border-radius: 15px;

  th, td {
    padding: 0.5em;
    border: 1px solid var(--golden-color);
  }

  th {
    background-color: var(--golden-color);
  }

  tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
  }

  tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
